body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar-inverse {
    background-color:cornflowerblue;
    backgr
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav > li > a{
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}
/*Below are my formating*/
.date {
    float: right;
}
.thumbnail{
    border-color: #c3cddd;
    border: groove, 1px;
}
.caption h3 {
    margin-top: 10px;
}
.text-nowrap { /* for review list prevents Title and Content from wrapping and distorting column heights*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ad-search{ /*sets size of ad appearing inline with results*/
    display:block;
    max-height: 191px;
    margin: auto;
}
.detail { /*Constrains width of content*/
    max-width: 600px;
    padding: 0em 0em 0em 4em;
}
.delete { /*Constrains width of content*/
    max-width: 600px;
}
.delete-alert {
    color: red;
}
.ad-image{ /*Positions ad at bottom of page (called from _layout)*/
    display: block;
    margin: auto;
    /*width: 40%;*/
}