@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Created "~/Views/Shared/DisplayTemplates/DateTime.cshtml" to control formating of DateTime type to only display date.</p>
<p>On Create view made Comments box expandable.</p>